/* lato google font  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

:root{
    --description-color: #27272799; 
}

.space{
    margin-left: 8%;
    margin-right: 8%;
}

/* banner container styles start from here  */
header{
    background-color: #E5547319;
    margin-bottom: 5rem;
}

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-top: 4rem;
}

.banner-desc{
    width: 80%;
    margin: 0.7rem 0rem;
    color: var(--description-color);
}

.banner-title{
    font-size: xx-large;
    font-weight: 800;
    color: #272727;
}

.banner-image img{
    width: 100%;
}

.banner-btn{
    border: none;
    border-radius: 5px;
    background-color: #E55473;
    color: #fff;
    padding: 1rem;
}

/* Our Featured  container styles start from here  */


.featured-content{
    text-align: center;
}

.featured-decs{
    width: 40%;
    margin: 1rem auto;
    color:var(--description-color);
}

.featured-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0rem;
}


.figure-img{
    background-color: #A7216226;
    border: none;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.fill-color{
    background-color: #0597A026;
}


.fill-color2{
    background-color: #477D1126;
}

.figure-img img{
    padding: 2rem 2rem 0rem 2rem;
    width: 200px;
    min-height: 308.13px;
}


figure, figcaption{
    text-align: center;
    margin-top: 0.6rem;
}

/* support container styles  */

.support-container{
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.support-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: #78965C26;
    border: none;
    border-radius: 8px;
    padding: 3rem 0rem;
}

/* hot deal container styles  */


.deal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 4rem 0rem;
    background-color: #E5547326;
    margin-bottom: 4rem;
    border: none;
}

.deal-content{
    text-align: center;
}

.deal-desc{
    color: var(--description-color);
    margin: 1rem 0rem;
}

.deal-btn{
    border: none;
    background-color: #E55473;
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
}

.off-text{
    color: #E55473;
}

/* Instagram container styles  */

.instagram-container{
    margin-bottom: 4rem;
}

.instagram-content{
    text-align: center;
}

.instagram-desc{
    width: 40%;
    margin: 1rem auto 4rem;
    color: var(--description-color);
}

.instagram-flowers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.instagram-flowers img{
    width: 100%;
}

/* latest deal container styles  */
.latest-container{
    margin-bottom: 4rem;
    background-image: url('/images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5rem 4rem;
}

.latest-content, .latest-input{
    text-align: center;
}

.latest-input{
    margin-top: 2rem;
}

.latest-input input{
    border: none;
    width: 50%;
    height: auto;
    padding: 1.1rem 1rem;
    border-radius: 8px;
}

.subscribe-btn{
    border: none;
    color: #fff;
    background-color: #E55473;
    border-radius: 4px;
    padding: 1.1rem;
}


/* footer container styles  */


